@use '../helpers/' as *;

md-filled-button {
    --md-filled-button-container-color: #007aff;
    --md-filled-button-label-text-color: white; /* цвет текста */
}

md-outlined-button {
    --md-outlined-button-outline-color: #8e8e93; /* цвет рамки */
    --md-outlined-button-label-text-color: #007aff; /* цвет текста */
    --md-outlined-button-hover-outline-color: #007aff; /* цвет рамки при наведении */
}

md-outlined-text-field {
    --md-outlined-text-field-outline-color: #8e8e93;
    --md-outlined-text-field-hover-outline-color: #007aff;
    --md-outlined-text-field-label-text-color: #6e6e73;
    --md-outlined-text-field-focus-outline-color: #007aff;
    --md-outlined-text-field-container-shape: 12px;
}
md-switch {
    --md-switch-selected-handle-color: #007aff;
    --md-switch-selected-track-color: #cce4ff;
}

.home {
    display: flex;
    flex-direction: column;
        
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    width: rem(1260);
    gap: rem(100);

        &__blocks {
            display: flex;
            flex-direction: column;
            gap: rem(24);

            width: 100%;
        }

        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: rem(24);

            &-text {
                @include fluid-text(40, 32);

                width: 50%;
                font-weight: 600;
                text-align: left;
            }

            &-buttons {
                display: flex;
                justify-content: right;
                flex-wrap: wrap;
                width: 50%;
                gap: rem(16);
            }

        }
        
        &__grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: rem(24);
        }

        &__item {
            width: 100%;
            height: rem(240);
            background-color: var(--color-gray-60);
            border-radius: rem(20);

            &-link {
                &:hover {
                    transform: scale(1.02);
                }
            }

            &-banner {
                margin-top: rem(50);
                height: rem(400);
            }
        }
}