@use '../helpers/' as *;

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: var(--glass-bg);
    backdrop-filter: blur(var(--glass-blur));
    -webkit-backdrop-filter: blur(var(--glass-blur));

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: rem(18) rem(0);

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            padding: rem(0) rem(50);
        }

        &-list {
            display: flex;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            column-gap: rem(24);
            
            &-text {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                white-space: nowrap;
                font-size: rem(16);
            }
        }
    }
}